@import presenters.CurrentUser
@(form: Form[Login])(implicit currentUser: CurrentUser, flash: Flash)
@implicitField = @{ helper.FieldConstructor(views.html.partials.fieldConstructor.f) }

@main("Login") {
  <div class="col col-sm-4 col-sm-offset-4">
    <div class="page-header">
      <h1>Login</h1>
    </div>
    <div class="default-box">
      @helper.form(action = routes.Sessions.create()) {
        @if(form.hasGlobalErrors) {
        <p class="alert alert-danger">@form.globalErrors.map(_.message).mkString(", ")</p>
        }
        <fieldset>
          @helper.inputText(form("email"),        'id -> "email",    'class -> "form-control", '_label -> "Email")
          @helper.inputPassword(form("password"), 'id -> "password", 'class -> "form-control", '_label -> "Password")
          <button type="submit" class="btn-create btn-submit">Login</button>
          <div class="clearfix"></div>
        </fieldset>
      }
    </div>
  </div>
}
