@import presenters.CurrentUser
@(form: Form[Login])(implicit currentUser: CurrentUser, flash: Flash)
@implicitField = @{ helper.FieldConstructor(views.html.partials.fieldConstructor.f) }

@main("Create a user") {
  <div class="col col-sm-4 col-sm-offset-4">
    <header class="page-header">
      <h1>Create a new user</h1>
    </header>
    <section class="default-box">
      @helper.form(action = routes.Users.create()) {
        @if(form.hasGlobalErrors) {
        <p class="alert alert-danger">@form.globalErrors.map(_.message).mkString(", ")</p>
        }
        <fieldset>
          @helper.inputText(form("email"),        'id -> "email",     'class -> "form-control", '_label -> "Email")
          @helper.inputPassword(form("password"), 'id -> "password",  'class -> "form-control", '_label -> "Password")
          <div class="checkbox">
              @helper.checkbox(form("isCreator"),     'id -> "isCreator", '_label -> "Document creator")
          </div>
          <div class="checkbox">
              @helper.checkbox(form("isAdmin"),       'id -> "isAdmin", '_label -> "Admin")
          </div>
        </fieldset>
        <button type="submit" class="btn-create btn-submit">Create</button>
        <div class="clearfix"></div>
      }
    </section>
  </div>
}
