@import presenters.CurrentUser
@()(implicit currentUser: CurrentUser, flash: Flash)
@main("Create a document") {
  <div class="col col-sm-4 col-sm-offset-4" ng-controller="UploadController">
    <header class="page-header">
      <h1>Upload a document</h1>
    </header>
    <section class="default-box">
      <form role="form" class="form-horizontal" enctype="multipart/form-data">
        <fieldset>
          <label for="file">File</label>
          <input id="file" type="file">
          <label for="document-type">Document type</label>
          <select id="document-type" name="document-type" class="form-control" ng-model="document.docType">
            <option value="Photo">Photograph</option>
            <option value="Letter">Letter</option>
            <option value="OfficialDoc">Official document</option>
            <option value="Article">Article</option>
          </select>
          <label for="caption">Caption</label>
          <input id="caption" name="caption" type="text" class="form-control" ng-model="document.caption">
          <label for="date">Date</label>
          <input id="date" name="date" type="date" class="form-control" ng-model="document.date">
          <label for="place">Place</label>
          <input id="place" name="place" type="text" class="form-control" ng-model="document.place">
        </fieldset>
        <button ng-click="uploadDocument()" type="submit" class="btn-create btn-submit">Create</button>
      </form>
    </section>
  </div>
}
