@import "_overrides.less";

#homepage {
  margin-top: -50px;
  text-align: center;

  h2 {
    margin-bottom: 40px;
  }

  section {
    padding: 60px;
  }

  header {
    background: fixed;
    background-image: url('/assets/images/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
  }

  #features {
    text-align: left;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    margin-top: -120px;

    h1 {
      font-weight: 300;
      font-size: floor((@font-size-base * 2.5));
      text-align: center;
      color: @gray-darker;
      margin-bottom: 50px;
      margin-top: 2px;
    }

    h2 {
      float: left;
      color: @gray-darker;
      margin-bottom: none;
      margin-right: 20px;
    }

    .glyphicon {
      color: @brand-action;
      font-size: 25px;
      margin-top: 30px;
    }

    p {
      margin-bottom: 40px;
      margin-top: -30px;
    }
  }

  #about {
    background: fixed;
    background-image: url('/assets/images/lettre.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

    p {
      text-align: left;
    }
  }

  #team {

    p {
      text-align: justify;
    }

    .circle {
      text-align: center;
      border-radius: 50%;
      float: left;
      font-family: @font-family-serif;
      font-size: floor((@font-size-base * 1.1));
      font-weight: 700;
      height: 120px;
      padding-top: 45px;
      width: 120px;
      margin-right: 44px;
    }

    #member-1 {
      background-color: #333;
      color: whitesmoke;
    }

    #member-2 {
      background-color: whitesmoke;
      color: #333;
    }

  }

  #contact {
    h2 {
      color: whitesmoke;
    }
    background-color: @brand-action;
  }
}
