@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700);

// COLORS

@gray-darker: #5e5e5e;
@gray-light: lighten(#000, 46.7%);
@brand-primary: #096569;

//custom
@brand-action: #f0cc00;
@brand-navigate: #0e989e;

// TYPOGRAPHY

@font-family-sans-serif: 'Roboto', sans-serif;
@font-family-serif: 'Roboto Slab', serif;
@font-family-base: @font-family-sans-serif;
@font-size-base: 16px;
@headings-font-family: @font-family-serif;
@headings-font-weight: 300;
@headings-color: @brand-primary;

// COMPONENTS

@border-radius-base: 2px;

// FORMS

@input-border-focus: @gray-light;

// FORM STATES AND ALERTS

@state-danger-text: whitesmoke;
@state-danger-bg: darken(@brand-action, 5%);
@state-danger-border: darken(@brand-action, 10%);

// ALERTS

@alert-padding: 5px 5px;
