@import "_overrides.less";
@import "lib/bootstrap/less/bootstrap.less";
@import "_homepage.less";

@icon-font-path: "../lib/bootstrap/fonts/";

body {
  font-weight: 300;
}

label {
  font-weight: inherit;
}

.page-header {
  margin: 80px 0px 22px;
}

.alert {
  margin: 5px 0 15px;
}

//NAVBAR

.navbar-header {
  .navbar-brand {
    padding: @padding-large-vertical @padding-large-horizontal;
    font-family: @font-family-serif;
    font-size: 30px;
    font-weight: normal;
  }
}

.nav .active::before, .nav li:hover::before{
  width:50%;
  position:absolute;
  border-bottom:1px solid @navbar-default-link-hover-color;
  left:25%;
  bottom: 10px;
  content:""
}

//CUSTOM BUTTONS

.btn {
  width: 100px;
  padding: @padding-large-vertical @padding-large-horizontal;
  font-weight: 700;
}

.btn-submit {
  &:extend(.btn);
  margin-top: 10px;
}

.btn-create {
  &:extend(.btn);
  background-color: @brand-action;
  color: white;

  &:hover, &:focus {
    background-color: darken(@brand-action, 5%);
    color: white;
  }
}

a.link-navigate {
  color: @brand-navigate;
  text-decoration: underline;

  &:hover {
    color: @brand-primary;
  }
}

//CUSTOM BOXES AND PANELS

.default-box {
  border-radius: @border-radius-base;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  padding: 25px;
  background-color: white;
}
