@import presenters.CurrentUser
@()(implicit currentUser: CurrentUser, flash: Flash)

@main("Welcome") {
  <article itemscope="true" itemtype="http://schema.org/Article">
    <div id="homepage">
      <header class="page-header"></header>
      <section id="features">
        <div class="container">
          <h1>History from those who made it</h1>
          <div class="row">
            <div class="col-sm-4">
              <div class="row">
                <div class="col-xs-12">
                  <h2>Create</h2>
                  <span class="glyphicon glyphicon-film"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-9 col-xs-offset-1">
                  <p>Tell the stories of your relatives with documents and photographs</p>
                </div>
              </div>
              <hr class="visible-xs">
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-xs-12">
                  <h2>Share</h2>
                  <span class="glyphicon glyphicon-share"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-9 col-xs-offset-1">
                  <p>Share the stories with your family and the rest of the world</p>
                </div>
              </div>
              <hr class="visible-xs">
            </div>
            <div class="col-sm-4">
              <div class="row">
                <div class="col-xs-12">
                  <h2>Explore</h2>
                  <span class="glyphicon glyphicon-eye-open"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-9 col-xs-offset-1">
                  <p>Search and discover other people&#39;s stories</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-6">
              <div class="default-box">
                <h2>About</h2>
                <p>Everywhere in the world, old paper boxes full of life memories, work and achievements are forgotten or thrown away.</p>
                <p>Our ancestors all had lives worth exploring: they shaped the societies we live in, often were part of major historical events, and experienced joys or tragedies that they&#39;d probably like to share with us in some way - as a guidance on how we should live our own lives as individuals, families and societies.</p>
                <p><strong>Our ambition is to make them live again and tell us their stories.</strong></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="team">
        <h2>Team</h2>
        <div class="container">
          <div class="row">
            <div class="col-sm-5">
              <div id="member-1" class="circle">Emmanuelle</div>
              <p>Designs the product and builds the front-end. Built the first version of this site just for her family, and is keen to share the lives of her ancestors with other people that might find it as fascinating as she does.</p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
              <div id="member-2" class="circle">Thomas</div>
              <p>TODO</p>
            </div>
          </div>
        </div>
      </section>
      <section id="contact">
        <h2>Contact</h2>
        <p>At the moment, the project is in closed beta. If you are interested in contributing in any way, please use the email address below to contact us.</p>
      </section>
    </div>
  </article>
}
